<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search filter</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    #_root {
      margin: 1rem;
    }

    .result-container {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .result {
      padding: 1rem;
      border-radius: 8px;
      color: #145c50;
      background-color: aquamarine;
    }

    input {
      padding: .5rem 1rem;
      font-size: 1rem;
    }
  </style>
</head>

<body>

  <main id="_root">
    <input type="text" placeholder="search language" v-model="search">
    <ul class="result-container">
      <li v-for="(item, index) in resultQuery" :key="index" class="result">
        <h3>{{ item.title }}</h3>
        <button v-on:click="deleteItem(item.id)">Delete</button>
      </li>
      <li>
        <input type="text" placeholder="add new language" v-model="newItem">
        <button v-on:click="addItem">Add</button>
      </li>
    </ul>
  </main>

  <script src="vue.js"></script>
  <script>
    const myVue = new Vue({
      el: "#_root",
      data: {
        search: "",
        newItem: "",
        languages: [
          {title: "code", id: 0},
          {title: "sleep", id: 1},
          {title: "eat", id: 2},
        ]
      },
      methods: {
        deleteItem: function (index) {
          this.languages.splice(index, 1);
          // and this is another way to delete item from array
          // this.languages = this.languages.filter((item, i) => i !== index);
        },
        addItem: function () {
          this.languages.push({title: this.newItem, id: this.languages.length});
          this.newItem = "";
        }
      },
      computed: {
        resultQuery() {
          return this.languages.filter((item) => this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v)))
        }
      }
    });
  </script>
</body>

</html>
